{% for a in list %}
<div class="articleBox">
    <h2><a href="/article/{{a.id}}">{{a.title}}</a></h2>
    <i>Posted by {{a.name}} on {{a.postedDate}} </i>                
    <div class="articleBody">{{a.body}}</div>
</div>
{% endfor %}